# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.log

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.vercel/
.vercel
